{% extends 'base.html' %}

{% block content %}
    {% for question in questions %}
    <div class="w-1/3 py-4 px-8 bg-white shadow-lg rounded-lg my-2 mx-auto">
    <p class="font-semibold text-md mb-1">Posted by: <span class="text-cyan-600">{{ question.user.username }}</span></p>
    <h3 class="font-bold text-gray-600 text-xl mb-2">{{ question.title }}</h3>
    <div class="max-h-40 overflow-y-auto">
    {% for answer in question.answer_set.all %}
    <p class="font-semibold text-gray-600">{{ answer.content }}</p>
              
    <form method="POST" action="{% url 'like-answer' answer.id %}">
    {% csrf_token %}
    <div class="inline-flex gap-x-1 text-xs items-center leading-none uppercase px-6 py-1 rounded-full bg-white text-gray-700 border mt-1 mb-2">
    {% if answer.likes.count%}
    <span class="text-cyan-500 font-semibold text-xl leading-none">{{answer.likes.count}}</span>
    {% else %}
    <span class="text-cyan-500 font-semibold text-xl leading-none">0</span>
    {% endif %}
    <button type="submit" class="mt-1">
    {% if answer in answers_liked %}
    <span class="material-symbols-outlined" style="font-size: 20px;color: red;">
    thumb_up
    </span>
    {% else %}
    <span class="material-symbols-outlined" style="font-size: 20px;">
        thumb_up
    </span>
    {% endif %}
    </button>
    </div>
    </form>
    {% endfor %}
    </div>
    <div class="flex items-center justify-end mt-4">
        <a href="{% url 'answer-question' question.id %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-cyan-700 rounded-lg hover:bg-cyan-800 focus:ring-4 focus:outline-none focus:ring-cyan-300">
            Answer
            <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
    
    </div>
        

            
            
    

    {% endfor %}

{% endblock %}